<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>Alexis' Data Science Project</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    </head>

    <nav>

    </nav>

    <div align="center">
        <h1>Welcome to my Data Science project!</h1>

        <p> 
            This is my A-Level Computer Science 
            Data Science project. This website will
            be useful for presenting the data from
            the Edexcel A-Level Maths Large Data Set. 
        </p>
    </div>

    <div align="center">
        <p>
            Bello
        </p>

        <img src="static/img/trolfase.png">
    </div>
    <br>
    <footer>
        Data &copy; 2016 Crown Copyright Met Office
    </footer>
</html>