<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>Alexis' Data Science Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    </head>

    <body>
        <nav>
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjPuaXWw7P_AhWSWcAKHdUxAnQQFnoECAgQAQ&url=https%3A%2F%2Fqualifications.pearson.com%2Fcontent%2Fdam%2Fpdf%2FA%2520Level%2FMathematics%2F2017%2Fspecification-and-sample-assesment%2FPearson%2520Edexcel%2520GCE%2520AS%2520and%2520AL%2520Mathematics%2520data%2520set%2520-%2520Issue%25201%2520(1).xls&usg=AOvVaw1sTqT6hcUEIGHaOitTEZ5a">
                <img src="https://cdn-icons-png.flaticon.com/512/0/532.png" width="15">
                Download Large Data Set (Edexcel)
            </a>
        </nav>

        <div align="center">
            <h1>Welcome to my Data Science project!</h1>

            <p> 
                This is my A-Level Computer Science 
                Data Science project. This website will
                be useful for presenting the data from
                the Edexcel A-Level Maths Large Data Set. 
            </p>

            <p>
                Bello
            </p>

            <img src="static/img/trolfase.png" class="img-content">
        </div>
        <br>
        <footer>
            Data &copy; 2016 Crown Copyright Met Office
        </footer>
    </body>
</html>