<!DOCTYPE HTML>

<html>
    <head>
        <title>Alexis' Data Science Project</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <nav>

    </nav>

    <center>
        <h1>Welcome to my Data Science project!</h1>

        <p> 
            This is my A-Level Computer Science 
            Data Science project. This website will
            be useful for presenting the data from
            the Edexcel A-Level Maths Large Data Set. 
        </p>
    </center>

    <footer>
        Data &copy; 2016 Crown Copyright Met Office
    </footer>
</html>