<!DOCTYPE html>

<html>
    <head>
        <title>View Data</title>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    </head>

    <body>
        <nav>
            <a href="/">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="15">
                Home
            </a>
            &emsp;
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjPuaXWw7P_AhWSWcAKHdUxAnQQFnoECAgQAQ&url=https%3A%2F%2Fqualifications.pearson.com%2Fcontent%2Fdam%2Fpdf%2FA%2520Level%2FMathematics%2F2017%2Fspecification-and-sample-assesment%2FPearson%2520Edexcel%2520GCE%2520AS%2520and%2520AL%2520Mathematics%2520data%2520set%2520-%2520Issue%25201%2520(1).xls&usg=AOvVaw1sTqT6hcUEIGHaOitTEZ5a">
                <img src="https://cdn-icons-png.flaticon.com/512/0/532.png" width="15">
                Download Large Data Set (Edexcel)
            </a>
        </nav>
        <br>

        <div align="center">
            <h1>
                {{location}}
            </h1>
            <h2>
                {{year}}
            </h2>
        </div>

        <div align="center">
            <iframe 
                margin="20px"
                scrolling="no" 
                marginheight="0" 
                marginwidth="0" 
                src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=en&amp;q={{location}}&amp;t=k&amp;z=2&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" 
                width="1000"
                height="500" 
                frameborder="0">
                <a href="https://www.maps.ie/distance-area-calculator.html">Map</a>
            </iframe>

            <iframe
                height="500"
                width="1000"
                scrolling="yes"
                marginheight="0"
                marginwidth="0"
                src="https://en.wikipedia.org/wiki/{{location}}"
                frameborder="0">
                <a href="https://en.wikipedia.org/wiki/{{location}}">Wikipedia page for {{location}}</a>
            </iframe>
        </div>

        <br>
        <footer>
            Data &copy; 2016 Crown Copyright Met Office
        </footer>
    </body>
</html>