body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

div {
    background-color: pink;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
}

footer {
    width: 100%;
    background-color: skyblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
