body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: antiquewhite;
}

footer {
    width: 100%;
    background-color: rosybrown;
    color: white;
}