body {
    background-color: pink;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

div {
    background-color: white;
}

nav {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
}

footer {
    padding-left: 10px;
    width: 100%;
    background-color: skyblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
}
